*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:#e1edf56c;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
body.corb .corbeil{
    transform: translateX(0px);
}
body.corb .corbeille{
    transform: translateX(-250px);
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 0;
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
    background-color:#ecf0f1;
    transform: translateY(-100%);

}
header.monte{
    transform: translateY(0);
}
.headd{
    position: absolute;
    top: 230px;
    left: 10px;
    
}
.headd i{
    font-size: 4rem;
}

#add{
    font-size: 1em;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    box-shadow: 5px 5px #597b926c;
    cursor: pointer;
}
#remove{
    font-size: 1em;
    padding: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    box-shadow: 5px 5px #597b926c;
    cursor: pointer;
}
.corbeil{
    position: fixed;
    background-color: #fff;
    width: 250px;
    border: solid;
    right: 0;
    height: 100%;
    transform: translateX(250px);
}

.container{
    flex: 8;
    display: flex;
    margin: 50px;
}
.colonne{
    border: solid;
    display: flex;
    flex-direction: column;
    background: url(../img/template.png) no-repeat center;
    background-size: 100%;
    width: 19%;
    height: 90%;
    margin:30px ;
}
.nameColonne{
    font-size: 1em;
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color:#fff;
}
.nameColonne input{
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    border: none;
    
}
.nameColonne i{
    font-size: 2rem;
    cursor: pointer;
}
.conte{
    flex: 9;
    overflow-y: auto;
}
.carte{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: #fff;
    flex: 1;
    height: 25%;
    border-radius: 30px;    
    margin: 15px;
}
.carte .teax{
    border: none;
    width: 100%;
    max-width: 100%;
    height: 98%;
    max-height: 98%;
    padding: 5% 0;
}

.modal{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
}
.modal .tache{
    width: 25%;
    height: 85%;
    background-color: #fff;
}
.titre{
    padding: 20px;
    background-color:#597b926c;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}
.titre i{
    font-size: 3em;
}
.text_tache{
    flex: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.tache_area{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin: 1%;
}
.date + .date_fin{
    padding: 1%;
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 0.8rem;
    margin: 1%;
}
.debut{
    padding: 1%;
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 0.8rem;
    margin: 2%;
}
.fin{
    padding: 1%;
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 0.8rem;
    margin: 2%;
}
.but{
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
    margin: 2%;
}
.text_tache input{
    width: 70%;
    height: 20%;
    margin: 2%;
}
.text_tache button{
    width: 90%;
    padding: 10px;
    background-color: aqua;
}